/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
div.product-detail-layout-default article .fl-post-content div.row > div {
    width: 50% !important;
    max-width: 50% !important;
}
.pullUp{
    	z-index: 10;
	position: relative;
    }
.toggle-image-thumbnails a.arrow.next {
    left: auto;
    right: -8px;
}
#label_30_7_1{
	color: #fff !important;
}
#label_30_7_1 a{
	color: #000 !important;
}
.toggle-image-thumbnails a.arrow.prev {
	left: -8px !important;
}
.home_page_who_we_serve_link_banner{
	display: none!important;
}
.home.page .home_page_who_we_serve_link_banner{
	display: block!important;
}
/*residentioal header  css*/

.product-detail-layout-default article .fl-post-content div.row > div{
    width: 100%!important;
    max-width: 100%!important;
} 


.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 110px;
    margin: 5px 20px;
    width: 600px;
    box-shadow: 0px 10px 10px 0px #54575a;

}
.fl-post-header h1.fl-post-title, .fl-post-header h1.fl-post-title a:nth-child(1){
		font-size: 30px!important;
		color: #000!important;
	}
.custom_searchHeader .fl-icon:hover{
  cursor: pointer;
}
.copy-right-bar .fl-col-group {
  display: flex;
  align-items: center;
}
.copy-right-bar .fl-col-group .fl-rich-text p{
  margin: 0;
}
.image img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.image img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.uabb-menu-toggle{
  display: block !important;
}
.uabb-menu-toggle:before {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  z-index: 1;
  font-size: inherit;
  line-height: 0;
  font-weight: 900;
}
.copyright-sec .fl-rich-text *{
  display: inline-block;
}
.copyright-sec .fl-rich-text{
  text-align: center;
}
ul.social-icons li a:hover i {
  color: #767676;
}
.fot-social-icons .social-icons  li{
  margin-bottom: 0px;
}
.fot-social-icons .fl-rich-text p{
  display: none;
}

li#field_23_2,
li#field_23_7{
  padding-right: 0px !important;
}
li#field_23_7 .ginput_container_date input{
  width: 100% !important;
}

.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gfield .ginput_container_time select,
.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gfield .ginput_container_time input{
  padding: 15px 3px !important;
  text-align: center;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}
/*
.fl-button-wrap a[class="fl-button-icon-animation"]{
  display: none !important;
}
a.fl-button.fl-button-icon-animation {
  display: none;
}*/
/*.get-ditections-btn .direction a{
    letter-spacing: 0.7px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1c2c84;
    border-style: none;
    border-width: 0;
    background-clip: border-box;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #283890 !important;
}*/
.gform_wrapper .gfield_time_hour i{
  margin-top: 0 !important;
}
/*.get-ditections-btn .direction a:hover{
  border: 0px solid #262626;
  background: #323232 !important; 
 
}*/
.post-sec .widgettitle,
.archive-sec .widgettitle,
.cata-sec .widgettitle{
  font-size: 18px;
  font-weight: bold;
}
/* .footer-top,
.footer-bottom,
.footer-top ~ .fl-row-bg-color{
  display: none;
}

footer .footer-top,
footer .footer-bottom,
footer .footer-top ~ .fl-row-bg-color.copy-right-bar.footer-bottom{
  display: block;
} */


#responsive-menu-search-box, #responsive-menu-additional-content {
	    padding: 12px 5%!important;
}

#responsive-menu-additional-content a{
	color: #fff!important;
}
#responsive-menu-additional-content a span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.header-phoneno .fl-button-wrap,
.footer-phoneno .fl-button-wrap{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.header-phoneno .storename,
.footer-phoneno .storename {
	margin: 0;
}
.header-phoneno .storename a.fl-button,
.footer-phoneno .storename a.fl-button{
	display: none;
}
.footer-phoneno a{
	color: #fff;
}
.footer-address .uabb-infobox-text p{
	margin: 0;
	padding: 0;
}
.gfield input[type=text]{
		width: 100%!important;
	}
  .footer-address a, .phoneNumber a{
		color: #b2b2b2!important;
	}
   .footer-address a:hover, .phoneNumber a:hover{
		color: #fff!important;
	}

.product-detail-layout-default .product-box h2.fl-post-title{
    font-size: 22px!important;
}  
.product-detail-layout-default .product-box h1.fl-post-title{
    font-size: 24px!important;
}  
.product-detail-layout-default .product-box .fl-post-title{
    color: #000!important;
} 

 
@media(max-width: 768px){
	.product-detail-layout-default .laminate_catalog > div > .row{
	flex-direction: column;
}
  .gfield .gfield_time_ampm {
	max-width: 60px!important;
}
	.fl-slide-0 .fl-row-content-wrap {
    min-height: 500px !important;
}
	.fl-slide-0 .fl-row-content-wrap .fl-bg-slideshow div{
		width: 100% !important;
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px !important;
}

	div.product-detail-layout-default article .fl-post-content div.row > div {
		width: 100% !important;
		max-width: 100% !important;
	}
.gform_wrapper.gf_browser_safari .gfield_time_ampm select{
	max-width: 60px!important;
  width: 80px!important;
}
  .max-width-three{
		max-width: 360px!important;
	}
  .residential-header .res-btn-header > .fl-col-content,
  .comm-btn-header > .fl-col-content{
    border-right: 0px;
  }
  .copy-right-bar .fl-col-group .fl-rich-text p{
    margin: 0 0 20px;
    text-align: center; 
  }
  .w-100{
    max-width: 100% !important;
  }
  article .fl-row-bg-photo > .fl-row-content-wrap{
    min-height: 500px;
  }
  ul#menu-cta-menu > li{
    margin-bottom: 5px;
  }
  ul#menu-flooring-menu-1 > li > a > span,
  div .uabb-creative-menu #menu-flooring-menu-1 .sub-menu > li > a,
  div .uabb-creative-menu.off-canvas #menu-flooring-menu-1.menu li a span.menu-item-text,
  div .uabb-creative-menu #menu-flooring-menu-1.menu > li > .uabb-has-submenu-container > a { 
    color: #fff !important;
  }
  .copy-right-bar .fl-col-group{
    flex-direction: column;
  }
  /* ul#menu-footer-residential > li,
  ul#menu-footer-commercial > li,
  ul#menu-company > li{
    text-align: left !important;
  } */
  .fl-builder-content  div.max-width-issue{
    max-width: 400px !important;
    margin: 0 auto !important;
  }
}
@media (max-width:500px){
  .uabb-photo-gallery .uabb-photo-gallery-item  {
    width: 100% !important;
  } 
  .p-hor-20{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

}